body{background: #fafafa}

#banner{
	font-size: 40pt;
	text-align: center;
	font-weight: bold;
	letter-spacing: 10px;
}

#desktopOnly{
	display: none;
}

nav{	border: solid 1px #000;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px; 
	background: blue;
	font-family: sans-serif;
	font-size: 20pt;
	text-transform: uppercase;
display: inline-block;}

nav ul{
	list-style: none;
	padding: 0px;
	display: inline-block;
	
}

nav ul li:hover{
	background: #71CDCB;
}

nav ul a{
	text-decoration: none;
	color: #71CDCB;
	border: solid 1px #000;
	display: inline-block;
}
/*Navigation Stylesheet End */
#s_1,#s_2{
	width: 50%;
	float: left;
	padding: 20px;
}

#s_1 img{
	width: 65%;
	height: auto;
	position: center;
}
#s_2 p{font-size: 13pt;
}
.topLI{border-top-left-radius:30px;
		border-top-right-radius: 30px; }
.bottomLI{border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;}


@media(min-width: 980px){
	body{background: blue}
}

@media(min-width: 481px) and (max-width: 979px){
	body{background: #9069B3}}


@media(max-width: 480px){
	body{background: #3F7A79}
	nav{border: solid 1px #000;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px; 
	background: #D8F9F8;
	font-family: sans-serif;
	font-size: 16pt;
	text-transform: uppercase;}
	nav ul{
	padding: 10px;}
	nav ul li:hover{
	background: #71CDCB;}
	nav ul a{text-decoration: none;
	color: #71CDCB;
	border: solid 1px #000;
width: 250px;
height:auto;}
	#s_1 img{
	height: auto;
	width: 100%}

}
}

